* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* For screens that are wider than 768px */

html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header {
  background-color: #37517F;
  grid-area: header;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F3F6F8;
  grid-area: main;
}

.converter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: auto;
  margin: 30px 0;
  padding: 15px 0;
  gap: 10px;
}

.page-heading {
  margin-bottom: 20px;
}

.notice {
  font-style: italic;
}

.notice > a {
  color: #00A2DD;
}

.notice > a:hover {
  color: #37517F;
}

.box {
  background-color: #F3F6F8;
  width: 350px;
  height: 120px;
  color: #fff;
  padding: 10px 10px 0 25px;
}

.clear-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.clear-all {
  margin: 30px 0 20px 0;
  width: 150px;
  height: 48px;
  border-radius: 5px;
  border: none;
  background-color: #00a2dd;
  color: #fff;
  cursor: pointer;
}

label {
  color: #5d7079;
  font-size: 1.25rem;
}

input {
  border: 1px solid lightgray;
  margin-top: 8px;
  padding-left: 10px;
  width: 300px;
  height: 72px;
  font-size: 1.953rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37517F;
  grid-area: footer;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.copyright > a:hover {
  color: #00A2DD;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  margin-top: 15px;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #00A2DD;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template: 100px auto 100px / 100fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100vh;
}

/* For screens that are less than 768px wide */

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    background-color: #2E4369;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

